
/*#region AllPages*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 1em 10em;
}

header {
    margin-top: 2em;
}

    header img {
        width: 10em;
        height: 10em;
    }

.icon {
    margin-left: .5em;
    background-size: 
}

.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#facebook {
    color: rgb(59, 89, 152);
    font
    
}

#twitter {
    color: rgb(29, 202, 255);
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    background-color: rgb(52, 58, 64);
    margin-top: 2em;
    margin-bottom: 2em;
}

    nav ul {
        padding: 0;
    }

    nav li {
        display: inline-block;
        list-style: none;
        padding: 1em;
        position: relative;
    }



    nav ul li a:link, nav ul li a:visited {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        margin: 0 1em;
        padding: 1em;
        transition: all .5s;
    }


    nav ul li a:hover {
        color: #000;
        background-color: #fff;
        transform: translateY(-3px);
    }

    nav ul li a:active {
        transform: translateY(1px);
    }

.pageHeadline {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2em;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear {
    clear: both;
}


#heading {
    display: inline-block;
    margin-left: 3em;
}

    #heading h1 {
        margin-bottom: 1em;
    }


#headline {
    font-size: 40px;
}

footer {
    background-color: rgb(52, 58, 64);
    text-align: center;
    margin-top: 2em;
}

    footer p {
        font-style: italic;
        color: #fff;
        padding: 2em;
    }

/*#endregion*/


/*#region index*/

#aboutUsPhoto {
    width: 15em;
    height: 15em;
    margin-right: 1em;
}


.bigImage {
    height: 25em;
}

#whyChooseUs article {
    position: relative;
}

    #whyChooseUs article h2 {
        margin-bottom: .5em;
    }

#rightHeadline {
    padding: 2em 0 0 2em;
}

#leftHeadline {
    padding: 2em 2em 0 0;
}

.halfColumn {
    width: 50%;
}






/*#endregion*/


/*#region classes*/

main {
    margin: 0 3em;
}

.cardGallery {
    margin-bottom: 3em;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}



.card {
    display: inline-block;
    width: 14.6875em;
    height: 25em;
    border: 1px solid #000;
}

.cardImage {
    width: 100%;
    height: 11.25em;
    object-fit: cover;
}

.cardText {
    padding: 0 .7em;
}

    .cardText h4 {
        text-align: center;
        padding: .7em 0;
    }

    .cardText p {
        text-align: justify;
    }

    .cardText h4, .cardText p {
        text-decoration: none;
        color: #000;
    }

/*table styling*/

#table table {
    margin: 0 auto;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 70%;
}

thead tr {
    background-color: #d3d3d3;
}

    thead tr th {
        padding: 1.3em;
        font-size: .7em;
    }

tbody tr td {
    padding: 1em;
    font-size: .7em;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

#table h1 {
    text-align: center;
    margin-bottom: 1em;
}


/*#endregion*/





/*#region team*/
#leadership {
    width: 70%;
}

    #leadership article:not(:last-child) {
        margin-bottom: 3.5em;
    }

    #leadership article img {
        margin-right: 1.5em;
    }

aside h2 {
    margin-bottom: 2em;
}

aside ul {
    padding-left: 2em;
}

    aside ul li {
        padding: 1.5em 0;
    }

/*#endregion*/

/*#region contact*/

#contact {
    text-align: center;
}

#contact h1 {
    margin-bottom: 1em;
    font-size: 2.8em;
}

#contact ul {
    display: inline-block;
    margin-bottom: 2em;
}

#contact h1, #contact ul li {
    text-align: center;
}

#contact ul li {
    list-style-type: none;
    font-size: 1.5em;
    text-align: left;
    padding: .5em;
    border-bottom: 1px solid #333;
}

#contact ul li:hover {
    background-color: rgba(220, 220, 220, .6);
}

#contact ul li:first-child {
    border-top: 1px solid #333;
}

.contactList {
    color: #000;
    text-decoration: none;
}

.contactList:hover {
    
}

/*#endregion*/

