body {
    background-color: lightgray;
}

nav ul {
    background-color: antiquewhite;
    padding: 1em;
    border: 1px solid black;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li:hover {
    background-color: darkblue;
}

nav ul li a {
    color: darkblue;
    padding: 1em 1em;
    text-decoration: none;
    color: cornflowerblue;
}

nav ul li a:hover {
    color: white;
}

#headline {
    font-size: 40px;
}

.bold {
    font-weight: bold;
}

footer p {
    font-style: italic;
}