@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');


body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

/*#region grid system*/
.team-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

@media only screen and (max-width: 994px) {
    .team-grid {
        display: flex;
        flex-direction: column;
    }
}
/*#endregion*/
body {
    font-family: 'Nunito Sans', sans-serif;
}


/*#region AllPages*/

header {
    margin-top: 2em;
    margin-bottom: 3em;
}

    header img {
        width: 10em;
        height: 10em;
    }

.icon {
    margin-left: .5em;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.facebook {
    color: rgb(59, 89, 152);
}

.twitter {
    color: rgb(29, 202, 255);
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*#region navbar*/

.active-page a {
    border-bottom: 1px solid #fff;
}

.main-navbar {
    background-color: #343a40;
    padding: 2em 1em;
    margin-bottom: 3em;
    position: relative;
}

    .main-navbar ul {
        list-style-type: none;
        margin: auto 0;
    }

        .main-navbar ul li {
            display: inline;
            font-size: 1.5em;
            padding: 0 .5em;
        }

            .main-navbar ul li a {
                color: #fff;
                text-decoration: none;
            }

                .main-navbar ul li a:hover, .hamburger:hover {
                    color: #a39b9b;
                    transition: .5s;
                }

.hamburger {
    color: white;
    text-decoration: none; 
    position: absolute;
    top: 0.6em;
    right: 2em;
    display: none;
    cursor: pointer;

}


@media only screen and (max-width: 994px)  {
    .main-navbar ul {
        padding: 0.5em 0;
    }

    .main-navbar ul li {
        display: block;
    }

    .hamburger {
        display: inline-block;
    }

    .active-nav {
        display: block;
    }

    .hide-nav {
        display: none;
    }
}


/*#endregion*/


.page-headline {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 1.5em;
}


.heading h1 {
    margin-bottom: 1em;
}


.headline {
    margin-left: 2rem;
}

    .headline h1 {
        font-size: 3rem;
        margin-bottom: 1.3rem;
    }

footer {
    background-color: rgb(52, 58, 64);
    text-align: center;
    margin-top: 2em;
}

    footer p {
        font-style: italic;
        color: #fff;
        padding: 2em;
    }

.clear {
    clear: both;
}

/*#endregion*/

/*#region index*/

.about-us {
    margin-bottom: 2.8em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2em;
}

.why-choose-us article:not(:last-child) {
    margin-bottom: 2em;
}

.why-choose-us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

/*media queries*/
@media only screen and (max-width: 994px) {
    .about-us {
        display: flex;
        flex-direction: column;
    }

    .why-choose-us-grid {
        display: flex;
        flex-direction: column;
    }

    .first {
        order: 1;
    }

    .second {
        order: 2;
    }
}
/*#endregion*/
/*#region classes*/
.card:hover, .card:focus {
    border: 1px solid #000;
    cursor: pointer;
}

.card-subjects-image {
    width: 100%;
    height: 11.25em;
    object-fit: cover;
}

.card-subjects-text {
    padding: 0 .7em;
}

    .card-subjects-text h4 {
        text-align: center;
        padding: .7em 0;
    }

    .card-subjects-text p {
        text-align: justify;
        text-decoration: none;
    }

    .card-subjects-text h4, .card-subjects-text p {
        text-decoration: none;
        color: #000;
    }

/*table styling*/

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: auto;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    .modal-content table {
        text-align: center;
        border-collapse: collapse;
        height: 100%;
    }

        .modal-content table thead tr {
            background-color: #d3d3d3;
        }

            .modal-content table thead tr th {
                padding: 1.3em;
                font-size: .7em;
            }

        .modal-content table tbody tr td {
            padding: .5em;
            font-size: .7em;
        }

        .modal-content table tbody tr {
            border-bottom: 1px solid #dedede;
        }

.highlight-row {
    background-color: #F2EEED;
}

.close {
    font-weight: bold;
    color: #000;
    font-size: 28px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
/*#endregion*/

/*#region lightbox*/

#lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    padding-top: 65px;
    display: none;
}

    #lightbox-container p {
        color: #fff;
    }

    #lightbox-container img {
        border: 5px solid #333;
        margin: auto;
        width: 30%;
        height: 30%;
    }

/*#endregion*/


/*#region team*/
.leadership {
    /*width: 70%;*/
}

.leadership-image {
    float: left;
}

.leadership article {
    width: 75%;
}

    .leadership article:not(:last-child) {
        margin-bottom: 3.5em;
    }

    .leadership article img {
        float: left;
        margin-right: 1.7em;
        shape-outside: circle();
    }

.img-responsive {
    height: 15em;
    width: 15em;
    object-fit: cover;
    cursor: pointer;
}

    .img-responsive:focus, .img-responsive:hover {
        opacity: 0.6;
    }

.active-category {
    display: flex;
    flex-direction: column;
}

.hidden-category {
    display: none;
}

.hidden-category {
    display: none;
}

.right-side-flex {
    align-self: flex-end;
}

aside h2 {
    margin-bottom: 1em;
}

aside ul {
    padding: 2em;
    list-style: none;
    text-transform: uppercase;
}

    aside ul li {
        padding: 1.5em 0;
        font-size: 1.4em;
        cursor: pointer;
    }

        aside ul li:not(:last-child) {
            margin-bottom: 1.2em;
        }

.active-department {
    font-weight: bold;
}


/*media queries*/
@media only screen and (max-width: 994px) {
    .leadership {
        order: 2;
    }

        .leadership h1 {
            display: none;
        }

    aside {
        order: 1;
    }

        aside h2 {
            display: none;
        }

        aside ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        }
}


/*#endregion*/
/*#region contact*/
.contact {
    text-align: center;
}

    .contact h1 {
        margin-bottom: 1em;
        font-size: 2.8em;
    }

    .contact ul {
        display: inline-block;
        margin-bottom: 2em;
    }

        .contact h1, .contact ul li {
            text-align: center;
        }

        .contact ul li {
            list-style-type: none;
            font-size: 1.5em;
            text-align: left;
            padding: .5em;
            border-bottom: 1px solid #333;
        }

            .contact ul li a:hover {
                text-decoration: none;
            }

            .contact ul li:hover {
                background-color: rgba(220, 220, 220, .6);
            }

            .contact ul li:first-child {
                border-top: 1px solid #333;
            }

.contact-list {
    color: #000;
    text-decoration: none;
}

    .contact-list:hover {
    }

/*#endregion*/

/*#region sidenav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    padding-top: 100px;
    transition: .5s;
}

    .sidenav p {
        padding: 8px 8px 8px 32px;
        font-size: 1.5em;
        color: rgba(255,255,255,.5);
        display: block;
        transition: .3s;
        cursor: pointer;
    }

        .sidenav p:hover {
            color: #f1f1f1;
            text-decoration: none;
        }

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 20px;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.verticle-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: #000;
    font-weight: bold;
}

/*#endregion*/

