@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');


/*#region grid system*/
[class*='col-'] {
    float: left;
}

[class*='col-'] {
    padding-right: 20px;
}

    [class*='col-']:last-of-type {
        padding-right: 0;
    }

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-3 {
    width: 30%;
}

.col-2-3 {
    width: 66.66%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}


/*#endregion*/

body {
    font-family: 'Nunito Sans', sans-serif;
}


/*#region AllPages*/

header {
    margin-top: 2em;
    margin-bottom: 3em;
}

    header img {
        width: 10em;
        height: 10em;
    }

.icon {
    margin-left: .5em;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.facebook {
    color: rgb(59, 89, 152);
}

.twitter {
    color: rgb(29, 202, 255);
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*#region navbar*/

.navbar {
    background-color: #343a40;
    padding: 2em 1em;
}

    .navbar ul {
        list-style-type: none;
        margin: auto 0;
    }

        .navbar ul li {
            display: inline;
            font-size: 1.5em;
            padding: 0 .5em;
        }

            .navbar ul li a {
                color: #fff;
                text-decoration: none;
            }

                .navbar ul li a:hover {
                    color: #a39b9b;
                    transition: .5s;
                }

.expanded {
}

    .expanded ul {
        display: block;
    }

    .expanded li {
        display: block;
    }

        .expanded li a {
            display: block;
            text-align: center;
        }

.hamburger {
    float: right;
    color: #fff;
    display: none;
}



.active {
    border-bottom: 1px solid #c4bcbc;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: inline-block;
    }
}
/*#endregion*/
.page-headline {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 1.5em;
}


.heading h1 {
    margin-bottom: 1em;
}


.headline {
    margin-left: 2rem;
}

    .headline h1 {
        font-size: 3rem;
        margin-bottom: 1.3rem;
    }

footer {
    background-color: rgb(52, 58, 64);
    text-align: center;
    margin-top: 2em;
}

    footer p {
        font-style: italic;
        color: #fff;
        padding: 2em;
    }

.clear {
    clear: both;
}

/*#endregion*/


/*#region classes*/

.card-subjects-image {
    width: 100%;
    height: 11.25em;
    object-fit: cover;
}

.card-subjects-text {
    padding: 0 .7em;
}

    .card-subjects-text h4 {
        text-align: center;
        padding: .7em 0;
    }

    .card-subjects-text p {
        text-align: justify;
        text-decoration: none;
    }

    .card-subjects-text h4, .card-subjects-text p {
        text-decoration: none;
        color: #000;
    }

/*table styling*/

.table table {
    margin: 0 auto;
    width: 100%;
}

.table {
    text-align: center;
    border-collapse: collapse;
    width: 70%;
}

thead tr {
    background-color: #d3d3d3;
}

    thead tr th {
        padding: 1.3em;
        font-size: .7em;
    }

tbody tr td {
    padding: 1em;
    font-size: .7em;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

.table h1 {
    text-align: center;
    margin: 1em 0;
}

.highlight-row {
    background-color: #F2EEED;
}

/*#endregion*/





/*#region team*/
.leadership {
    /*width: 70%;*/
}

.leadership-image {
    float: left;
}

    .leadership article {
        width: 75%;
    }

        .leadership article:not(:last-child) {
            margin-bottom: 3.5em;
        }

        .leadership article img {
            float: left;
            margin-right: 1.7em;
            shape-outside: circle();
        }

.img-responsive {
    height: 15em;
    width: 15em;
    object-fit: cover;
}


aside h2 {
    margin-bottom: 2em;
}

aside ul {
    padding-left: 2em;
}

    aside ul li {
        padding: 1.5em 0;
    }

/*#endregion*/

/*#region contact*/

.contact {
    text-align: center;
}

    .contact h1 {
        margin-bottom: 1em;
        font-size: 2.8em;
    }

    .contact ul {
        display: inline-block;
        margin-bottom: 2em;
    }

        .contact h1, .contact ul li {
            text-align: center;
        }

        .contact ul li {
            list-style-type: none;
            font-size: 1.5em;
            text-align: left;
            padding: .5em;
            border-bottom: 1px solid #333;
        }

            .contact ul li a:hover {
                text-decoration: none;
            }

            .contact ul li:hover {
                background-color: rgba(220, 220, 220, .6);
            }

            .contact ul li:first-child {
                border-top: 1px solid #333;
            }

.contact-list {
    color: #000;
    text-decoration: none;
}

    .contact-list:hover {
    }

/*#endregion*/

/*#region sidenav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    padding-top: 100px;
    transition: .5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        font-size: 1.5em;
        color: rgba(255,255,255,.5);
        display: block;
        transition: .3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
            text-decoration: none;
        }

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 20px;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.verticle-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: #000;
    font-weight: bold;
}

/*#endregion*/

